<div class="wrap" ng-controller="MainCtrl">

  <div id="openModal" class="modalDialog">
    <div>
      <h2>Add Route</h2>
      <a href="#close" title="Close" class="close" target="_self">X</a>
      <form class="add-route">
        <input type="number" min="0" max="99999" placeholder="Stop Number" ng-model="stopid" />
        <input type="text" placeholder="Route Number" ng-model="routeid" />
        <button ng-click="addRoute(stopid, routeid)">Submit</button>
      </form>
    </div>
  </div>

  <div id="helpModal" class="modalDialog">
    <div>
      <h2>Help</h2>
      <a href="#close" title="Close" class="close" target="_self">X</a>
      <p>
      Basically, the gist of this thing is that you add in what stops and bus routes you care about, and it'll show you how much longer until the bus arrives. Click the Add Route button, fill in the fields, and it's saved.

      Click and drag routes to rearrange them in the order that you like!
      </p>
    </div>
  </div>

  <div class="main" ui-sortable="sortableOptions" ng-model="response">
    <div class="route" ng-repeat="route in response">
        <a class="remove"-button"" ng-click="removeRoute($index)">X</a>
      <h2>
      {{ route.number }}
      <span ng-if="!route.response.Message"> - {{ route.response.Schedules[0].Destination }}</span>
      </h2>
      <div>at {{ route.name }}

      <div ng-if="route.response.Message">
        <div class="time-remaining">
          -
        </div>
        <div class="minutes">
         minutes
        </div>
        {{ route.response.Message }}
      </div>

      <div ng-hide="route.response">
        <i class="fa fa-spin fa-refresh loading-icon"></i>
      </div>

      <div ng-show="route.response" ng-repeat="time in route.response.Schedules | orderBy: 'ExpectedCountdown'">
        <div ng-if="$first">
          <div class="time-remaining">
            {{ time.ExpectedCountdown }}
          </div>
          <div class="minutes">
           minute<span ng-if="time.ExpectedCountdown != 1">s</span>
          </div>
        </div>
        <div ng-if="!$first" ng-hide="time.CancelledTrip || time.CancelledStop">
          {{ time.Destination }} - {{ time.ExpectedCountdown }} minutes
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu">
  <div class="left">
    <a href="#openModal" target="_self" class="button">Add Route</a>
    <a ng-click="updateEstimates()" target="_self" class="button">Refresh</a>
    <a href="#helpModal" target="_self" class="button">Help</a>
    Last updated at {{ lastUpdated | date: 'mediumTime' }}
  </div>
  <div class="right">
    SimpleBus <sup>BETA</sup> · Made by <a href="http://jamesliu.ca" target="_blank">James Liu</a> · View on <a href="http://github.com/yeah568/simplebus-client" target="_blank">Github</a>
  </div>
</div>